* {
    transition: 0.1s all;
}

#videoContainer {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    overflow: hidden;
}

#blackHead {
    height: 10vh;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    top: 0%;
}

#searchBox {
    height: 50px;
    width: 350px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBars {
    position: relative;
    padding: 2%;
}

#search {
    width: 260px;
}

#VidCont {
    height: 77vh;
    width: 100%;
    position: absolute;
    bottom: 13%;
    border: 3px solid black;
    box-shadow: 3px 3px 25px 3px black;
}


#buttonBox2 {
    height: 10vh;
    width: 400px;
    position: absolute;
    bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}

.vidPageNavigater {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    border: 5px solid rgb(0, 106, 255);
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPwYPdvyYIzVQ_qFmmCEc04vRHaM7c_ESsq9DPqFHaJTrfJzdGcrWdab6hb8JNSwPfQto&usqp=CAU);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#previousVid {
    transform: rotate(180deg);
}

.vidPageNavigater:active {
    border: 2px solid red;
}

#pauseButton {
    height: 50px;
    width: 50px;
    border: 5px solid red;
    border-radius: 50%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNdUEm7IdjF6fKVtDkncntZwOx88cYrNr5MMGSLDnytXmSlB0LXTdhV3i1yNZVWwBY2Pc&usqp=CAU);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-left: 20px;
    margin-right:20px;
}

#pauseButton:active{
    border: 2px solid red;
}
