* {
    margin: 0%;
    padding: 0%;
}

body {
    overflow: hidden;
    background-color: rgb(0, 37, 66);
    transition: all 0.1s;
}

/* ------- Home  CSS -------- */
.main-container {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    overflow-x: hidden;
}

.main-container p {
    position: absolute;
    color: white;
    z-index: 2;
    top: 12%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 5px;
    font-size: 9px;
    text-shadow: 5px 5px black;
}

#header {
    position: absolute;
    width: 100%;
    height: 7vh;
    top: 0%;
    background-color: rgb(0, 37, 66);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 10px;
    font-size: 15px;
    gap: 20px;
    box-shadow: 3px 3px 25px 3px black;
}

/* ------- cards css -------- */
.main-player-container {
    height: 70vh;
    width: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 25px 3px black;
    border-radius: 10%;
    border: 2px solid white;
    transition: 0.1s;
    top: 7%;
}

.main-player-container:hover {
    box-shadow: 3px 3px 40px 3px black;
}

#main-videoplayer-container {
    transform: rotate(-3deg);
    background-color: rgb(0, 174, 255);
}

#main-musicplayer-container {
    height: 65vh;
    width: 300px;
    top: 10%;
    transform: rotate(3deg);
    background-color: red;
}

#main-musicplayer-container:hover {
    transform: rotate(0deg);
}

#main-videoplayer-container:hover {
    transform: rotate(0deg);
}

.sub-player-container {
    height: 70vh;
    width: 400px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 2;
}

#sub-videoPlayer-container {
    background-image: url('./chenimas.webp');
    background-position: -15px 100px;
    background-size: 100% 80%;
    bottom: -5%;
}

#sub-musicPlayer-container {
    background-image: url('./headphone.png');
    background-position: -80px -40px;
    background-size: 140% 80%;
    bottom: 10%;
    filter: contrast(1);
}

.player-container {
    height: 40vh;
    width: 250px;
    position: absolute;
    border: 5px solid white;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    border-radius: 10%;
    box-shadow: 3px 3px 25px 3px black;
}

#videoPic-Container {
    background-image: url(https://media.gq-magazine.co.uk/photos/63468efef4f48bee2acb7062/master/pass/Tom-Holland-Spiderman-what-we-know-so-far.jpg);
    background-size: 180% 100%;
    bottom: 25%;
}

#musicPic-Container {
    background-image: url(https://s3.amazonaws.com/static.rogerebert.com/uploads/blog_post/primary_image/features/on-the-rise-of-taylor-swift-filmmaker/taylor-swift-filmmaker-2022.jpeg);
    background-size: 180% 100%;
    background-color: white;
    bottom: 30%;
}

.titles {
    height: 70px;
    width: 200px;
    position: absolute;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid black;
    box-shadow: 3px 3px 25px 3px black;
}

#videoPlater-title {
    top: 5%;
}

#musicPlater-title {
    bottom: 10%;
}

.pulsing {
    width: 70px;
    height: 70px;
    background: radial-gradient(rgba(255, 0, 128, 0.8) 60%, rgba(255, 255, 255, 1) 62%);
    border-radius: 50%;
    position: relative;
    display: block;
    margin: 100px auto;
    box-shadow: 0px 0px 25px 3px rgba(255, 0, 128, 0.8);
    cursor: pointer;
    z-index: 2;
    transition: 0.1s;
}

.pulsing:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    transform-origin: center center;
    width: 0;
    height: 0;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#musicPulse::after {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid #fff;
}

#videoPulse {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    top: 75%;
}

.pulsing:before {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    animation: pulsing 2s forwards infinite;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, .75);
    top: -33%;
    left: -31%;
    background: rgba(198, 16, 0, 0);
}

@keyframes pulsing {
    0% {
        transform: scale(0.6);
        opacity: 1;
        box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
    }

    100% {
        transform: scale(1);
        opacity: 0;
        box-shadow: none;
    }
}

.pulsing:active {
    background: radial-gradient(orangered 60%, rgba(255, 255, 255, 1) 62%);
    box-shadow: 0px 0px 25px 3px orangered(255, 0, 128, 0.8);
    border: 1px solid rgba(255, 255, 255, .75);
}

@media screen and (max-width:821px) {

    .main-container p {
        display: none;
    }

    body {
        overflow-y: visible;
    }

    .main-player-container {
        position: absolute;
    }

    #main-videoplayer-container {
        transform: rotate(0deg);
        background-color: rgb(0, 174, 255);
        top: 110%;
    }

    #main-musicplayer-container {
        transform: rotate(0deg);
        top: 30%;
    }
}

@media screen and (max-width:444px) {


    #header {
        font-size: 9px;
    }

    .blur {
        height: 80vh;
        width: 100%;
    }

    .main-player-container {
        height: 55vh;
        width: 250px;
    }

    #main-musicplayer-container {
        height: 50vh;
        width: 250px;
        top: 20%;
    }

    #main-videoplayer-container {
        top: 80%;
    }

    .sub-player-container {
        height: 60vh;
        width: 400px;
    }

    #sub-videoPlayer-container {
        background-position: 25px 60px;
        background-size: 80% 60%;
        bottom: -30%;
    }

    #sub-musicPlayer-container {
        background-position: -40px 20px;
        background-size: 120% 80%;
        bottom: 10%;
    }

    .player-container {
        height: 30vh;
        width: 200px;
    }

    #videoPic-Container {
        bottom: 20%;
    }

    #musicPic-Container {
        bottom: 30%;
    }

    .titles {
        height: 50px;
        width: 190px;
    }

    #musicPulse::after {
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 20px solid #fff;
    }

    #musicPulse {
        top: -20%;
    }

    #videoPulse {
        font-size: 20px;
        top: 50%;
    }
}
